#slider {
	width: 384px;
	height: 128px;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#row {
	width: 1024px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}
#row img {
	float: left;

}


#row:after {
	content: "";
	display: block;
	clear: both;
}