* {
	margin: 0;
	padding: 0;
}

body {
	font-family:'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	width: 100%;
	display: flex;
	background: #000;
}

.main-logo {
	font-weight: 800;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 46px;
	margin-left: 12%;
}
.main-logo a {
	color: #fff;
}

nav {
	margin-top: 56px;
	margin-left: 37%;
} 

.top-nav a {
	color: #fff;
	text-align: center;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
}

.top-nav a:hover {
	border-bottom: 3px solid #fcac45;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main .main-welcome {
	background: #000;
	text-align: center;
	padding: 200px 0 410px 0;
	color: #fff;
}

main .main-welcome p {
	color: #b8b8b8;
	font-size: 20px;
}

main .main-welcome h1 {
	color: #b8b8b8;
	font-size: 44px;
	font-weight: 400;
}

main .main-welcome h1:after {
	display: none;
}

.main-welcome .mycompany {
	color: #fcac45;
}

.bold-text {
	font-weight: bold;
}

.color-text {
	font-style: italic;
	color: #a6a6a6;
	font-size: 16px;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

main .main-about {
	display: flex;
	padding: 100px 0;
}

.about-right {
	margin-left: 175px;
	width: 425px;
}

.about-right h1:after {
	display: none;
}

.about-right h1 {
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
	font-size: 34px;
	font-weight: 400;
}

.about-right p {
	margin: 30px 0 50px 0;
	color: #6c6c6c;
	font-size: 18px;
}

.about-right li {
	background: url(img/mark.png) 0px no-repeat;
	padding-left: 25px;
	font-size: 18px;
}

.main-team {
	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #fff;
}

.main-team h1 {
	font-size: 44px;
	padding-bottom: 30px;
}
/*
.line {
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 45.5%;
	margin-bottom: 85px;
}*/

.photo {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	background: #d7d7d7;
	margin: 20px auto;
}

.team-cards {
	display: flex;
}

.card {
	margin: 0 40px;
}

.name {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 7px;
}

.position {
	font-size: 16px;
	margin-bottom: 35px;
}

.about-position {
	font-size: 14px;
}

.services-cards {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}

.services-cards h4 {
	font-size: 25px;
	font-weight: 600;
}

.services-cards p {
	font-size: 14px;
	font-weight: 400;
}

.main-services h1 {
	text-align: center;
	padding: 100px 0 30px 0;
	font-size: 44px;
	font-weight: 600;
}

.main-services p {
	text-align: center;
	padding: 60px 0 100px 0;
	font-size: 16px;
}

.main-clients {
	background: #000;
	padding: 100px 0 205px 0;
	color: #fff;
	text-align: center;
}

.main-clients-someof {
	color: ##e7e7e7;
}

.main-clients h1 {
	font-size: 44px;
	font-weight: bold;
	margin-bottom: 30px;
}

.main-clients img {
	margin-top: 10px;
	margin-left: 30px;
}

.main-testimonials {
	background: #000;
	padding: 100px 0 175px 0;
	color: #fff;
	text-align: center;
}

.main-testimonials h1 {
	font-size: 44px;
	font-weight: bold;
	margin-bottom: 30px;
}

.main-testimonials .testimonial {
	margin-bottom: 50px;
	font-weight: 600;
	font-size: 18px;
	color: #e7e7e7;
}

#ceo {
	color: #b2b2b2;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 170px;
}

.main-work {
	text-align: center;
	padding: 100px 0 100px 0;
}

.main-work img{
	padding: 0 30px 30px 0;
}

.main-work h1 {
	margin-bottom: 30px;
}

.main-work p {
	margin-bottom: 175px;
	color: #6c6c6c;
}

.main-work img:hover {
	opacity: 0.9;
}

.contact-wrapper {
	width: 753px;
	margin: 0 auto;
	color: #636363;
}

.contact-form {
	padding: 100px 0 100px 0;
}

.red {
	color: red;
}

form p {
	text-align: left;
}

.form-inputs {
	margin-top: 100px;
	display: flex;
}

input {
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
}


input:first-of-type {
	margin-right: 23px;
}

textarea {
	width: 100%;
	height: 160px;
}

input,
textarea {
	border: 1px solid #999999#;
	margin-top: 5px;
}

.button-block {
	display: flex;
	justify-content: flex-end;
}

input[type=submit] {
	width: 165;
	height: 40px;
	background: #fcac45;
	color; #fff;
	margin-right: 0;
	margin-top: 20px;
}

.contact-form h1, p {
	text-align: center;
}

.contact-form h1 {
	color: #000;
	margin-bottom: 30px;
}

h1:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 100px;
	padding-top: 30px;
	border-bottom: 3px solid #fcac45;
}

footer {
	width: 100%;
	height: auto;
	background: #222222;
	padding: 30px 0 30px 0;
}

.social {
	display: flex;
	justify-content: center;
}

.social img {
	margin-left: 12px;
}

.social img:hover {
	opacity: 0.6;
}