body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

.title {
    padding-top: 100px;
    padding-bottom:70px;
    text-align: center;
}

.title__main {
    font-size: 32px;
}

.title__text {
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}

.yellow {
    color: #fcdb00;
}

/* Header and navigation bar */

header {
	background-color: #fcdb00;
	/*display: flex;
	justify-content: space-between;*/
	padding-top: 58px;
	padding-bottom: 105px;
}
/*
.menu__list {
	display: flex;
	justify-content: center;
}*/

.menu__list--item {
	margin: 0 57px;
	margin-top: 8px;
}

.menu__list--item a {
	font-size: 22px;
	font-weight: 700;
	color: #000;
}

.offer {
	margin-top: 117px;
}

.offer__title {
	font-size: 32px;
	margin-bottom: 15px;
}

.offer__paragraph {
	width: 400px;
}

.offer__icons {
	margin-top: 25px;
}

.offer__icons span {
	padding-right: 30px;
}

.offer__image {
	display: block;
	margin: 60px auto 0;
}

/* Cards section start */

.feature {
	display: flex;
	justify-content: space-between;
	margin-bottom: 76px;
}

.feature__icon {
	margin-right: 37px;
	font-size: 50px;
}


.title {
	padding-top: 100px;
	padding-bottom: 90px;
	text-align: center;
}

/* Cards section end */

/* Keep in touch start */

.keepintouch {
	background-color: #000;
}

.yellow {
	color: #fcdb00;
}

.grey__title-text {
	color: #898989;
}

.form {
	text-align: center;
}

.form__input{
	background: #fff;
	width: 580px;
	padding: 14px 0;
	padding-left: 23px;
	border-radius: 5px;
	margin-right: 21px;
	border: 0;
	outline: none;
}

.form__btn {
	background: #fcdb00;
	color: #000;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	width: 126px;
	border: 0;
	padding: 14px 0;
	outline: none;
	border-radius: 5px;
}

/* Keep in touch end */


/* Footer start */

.footer {
	background: #000;
	padding: 50px 0 94px;

}

.credits {
	color: #676767;
	font-size: 16px;
	text-align: center;
	width: 184px;
	margin: 0 auto;
}

/* Footer end */

/* Media */

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .offer {
        text-align: center;
    }
    .offer__paragraph {
        margin: 20px auto;
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .icons__item:nth-child(3) {
        margin-right: 0;
    }
    .form__input {
        margin-right:0;
        width: 100%;
    }
    .form__btn {
        margin-top: 20px;
        width: 100%;
    }
    .title__text {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .ipad {
        width: 100%;
    }
    .menu__list {
        flex-direction: column;
    }
    .menu__list--item {
        text-align: center;
        margin-bottom:10px;
    }
}